body{
    margin:0;
    overflow-x: hidden; 
}
#header{
    height:80px;
    background-color:#0c6b8d;
    display:flex;
}
#website-title{
    cursor: default;
    color:white;
    font-weight: bold;
    font-size: 35px;
    padding: 20px;
}
#returnDate:disabled{
    background-color:white;
    opacity: 0.7;

}
#returnDate{
    color:black;
}
#helpButton{
    padding:30px;
    font-size: 20px;
    color:white;
    margin-left: auto;
    cursor: default;
}
#helpButton:hover{
    
    color:black;
}
#container-services{

    display:flex;
    background-color: black;
    height:10%;
    align-content:flex-start;
}
#item{
    cursor: default;
    padding:5px;
    font-size: 25px;
    margin-left:10px;
    color:white;
}
#item:hover{
    background-color: white;
    color:black;
}
#containerForm{
    
    animation-name:animation;
    animation-duration:22s;
    animation-iteration-count: infinite;
    width:100%;
    height:75vh;
    position: relative;
}
#isReturn{

    grid-area: 1/1/2/2;
    font-weight: bold;
    font-size: 20px;
    color: white;
    width:20vw;

}
#journey-form{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    width:100%;
    justify-content:center;
    align-content: center;
    position: absolute;
    margin-top: 22%;

}
#departureCityContainer{
    grid-area:2/1/3/2;
}
#arrivalCityContainer{
    grid-area:2/2/3/3;
}
#departureDate{
    grid-area:2/3/3/4;
}
#returnDate{
    grid-area:2/4/3/5;
}
#fieldAlert{
    color: tomato;
    font-weight: bold;
    font-size: 15px;
    grid-area:4/5/5/6;
    width: 10vw;
}
#departureCityContainer,#arrivalCityContainer{
    margin:2px;
}
.city{
    width: 20vw;
    height: 40px;
    border: 1.5px solid black;
    font-size: 20px;
    font-weight: bold;
    border:2px solid rgb(155, 115, 4);
    text-align: center;
    
}
#checkout_button{

    width: 10vw;
    grid-area:2/5/3/6;
    height: 40px;
    background-color:#0c6b8d;
    color:white;
    margin:2px;
    font-size: 12px;
    border:2px solid rgb(155, 115, 4);
    text-align: center;
    cursor: default;
}
#checkout_button:hover{
    background-color: #033446;
}
.datePicker{
    width: 20vw;
    height: 40px;
    border: 1.5px solid black;
    font-size: 10px;
    margin:2px;
    font-size: 12px;
    border:2px solid rgb(155, 115, 4);
    text-align: center;

}
@keyframes animation{

    0%{background-image: url(https://images.unsplash.com/photo-1533929736458-ca588d08c8be?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80);background-size: 100% 75vh;}
    25%{background-image: url(https://cache.marriott.com/marriottassets/marriott/MLESI/mlesi-aerial-view-3821-hor-feat.jpg);background-size: 100% 75vh;}
    50%{background-image: url(https://pix10.agoda.net/geo/city/17193/1_17193_02.jpg?s=1920x822);background-size: 100%  75vh;}
    75%{background-image: url(http://res.cloudinary.com/simpleview/image/upload/v1497480003/clients/lasvegas/strip_b86ddbea-3add-4995-b449-ac85d700b027.jpg);background-size: 100% 75vh;}
    100%{background-image: url(https://cdn.getyourguide.com/img/tour/5cc5c21db1d50.jpeg/148.jpg);background-size: 100% 75vh;}

}
#termsCondition{

    display:flex;
    justify-content: space-around;
    width:100%;
    padding:20px;
}
a{
    text-decoration: none;
    color: #0c6b8d;
    font-weight: bold;
}
a:hover{
    color:black;
}
#greeting{
    background-color: black;
    color: wheat;
    font-weight: bold;
    text-align: center;
    height:40px;
}
.autocomplete-item{

        height:30px;
        width:100%;
        background-color:white;
        color: black;
        font-size: 20px;
        border-bottom: 1px solid black;
        border-radius: 2px;
        cursor: pointer;
}

.autocomplete-item:hover{

    background-color: black;
    color:white;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
  }

  @keyframes animation1{

      0%{height: 10%;width: 75%;font-size: 0px;}
      99%{height: 40%;width: 75%;font-size:0px;}
      100%{height: 40%;width: 75%;font-size: 20px;}

  }
  
  .modal-cont{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    animation:animation1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    

  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor:default;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: default;
  }