body{
    margin:0;
    overflow-x: hidden; 
}
#name{
    height:80px;
    background-color:#0c6b8d;
    display:flex;
}
#title{
    cursor: default;
    color:white;
    font-weight: bold;
    font-size: 35px;
    padding: 20px;
}
#return:disabled{
    background-color:white;
    opacity: 0.7;

}
#return{
    color:black;
}
#help{
    padding:20px;
    font-size: 20px;
    color:white;
    margin-left: auto;
    cursor: default;
}
#help:hover{
    
    color:black;
}
#container-flex{

    display:flex;
    background-color: black;
    height:10%;
    align-content:flex-start;
}
#item{
    cursor: default;
    padding:5px;
    font-size: 25px;
    margin-left:10px;
    color:white;
}
#item:hover{
    background-color: white;
    color:black;
}
#booking{
    
    animation-name:animation;
    animation-duration:20s;
    animation-iteration-count: infinite;
    width:100%;
    height:644px;
    position: relative;
}
#journey{

    position: absolute;
    font-weight: bold;
    margin-top: 20%;
    margin-left: 11%;
    color: white;

}
#form{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content:center;
    align-content: flex-start;
    position: absolute;
    margin-top: 22%;
    margin-left: 1%;
}
#to,#from{
    margin:2px;
}
.city{
    width:100%;
    height: 40px;
    border: 1.5px solid black;
    font-size: 20px;
    font-weight: bold;
    border:2px solid rgb(155, 115, 4);
    text-align: center;
    
}
#checkout_button{

    width:80px;
    height: 40px;
    background-color:#0c6b8d;
    color:white;
    margin:2px;
    font-size: 12px;
    border:2px solid rgb(155, 115, 4);
    text-align: center;
    cursor: default;
}
#checkout_button:hover{
    background-color: #033446;
}
.datePicker{
    width:18%;
    height: 40px;
    border: 1.5px solid black;
    font-size: 10px;
    margin:2px;
    font-size: 12px;
    border:2px solid rgb(155, 115, 4);
    text-align: center;

}
@keyframes animation{

    0%{background-image: url(https://www.flydubai.com/en/media/Flight-resumption-todubai-2560x960_tcm8-160498.jpg);background-size: 100% 644px;}
    25%{background-image: url(https://cache.marriott.com/marriottassets/marriott/MLESI/mlesi-aerial-view-3821-hor-feat.jpg);background-size: 100% 644px;}
    50%{background-image: url(https://pix10.agoda.net/geo/city/17193/1_17193_02.jpg?s=1920x822);background-size: 100%  644px;}
    75%{background-image: url(http://res.cloudinary.com/simpleview/image/upload/v1497480003/clients/lasvegas/strip_b86ddbea-3add-4995-b449-ac85d700b027.jpg);background-size: 100% 644px;}
    100%{background-image: url(https://cdn.getyourguide.com/img/tour/5cc5c21db1d50.jpeg/148.jpg);background-size: 100% 644px;}

}
#term_condition{

    display:flex;
    justify-content: space-around;
    width:100%;
    padding:20px;
}
a{
    text-decoration: none;
    color: #0c6b8d;
    font-weight: bold;
}
a:hover{
    color:black;
}
#thanks{
    background-color: black;
    color: wheat;
    font-weight: bold;
    text-align: center;
    height:40px;
}
.autocomplete-item{

        height:30px;
        width:100%;
        background-color:white;
        color: black;
        font-size: 20px;
        border-bottom: 1px solid black;
        border-radius: 2px;
        cursor: pointer;
}

.autocomplete-item:hover{

    background-color: black;
    color:white;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
  }

  @keyframes animation1{

      0%{height: 0%;width: 75%;font-size: 0px;}
      99%{height: 40%;width: 75%;font-size:0px;}
      100%{height: 40%;width: 75%;font-size: 20px;}

  }
  
  .modal-cont{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    animation:animation1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    

  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor:default;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: default;
  }
#spinner{
    display: none; 
    position: absolute; 
    left: 50%;
    top: 50%;
    width: 50px; 
    height: 50px; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
}